.band {
  align-self: center;
  background: var(--color-pink);
  height: 250px;
  width: 250px;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: margin 300ms ease-out;
  }

  li {
    background-position: center;
    background-size: cover;
    height: 250px;
    transform: scale(1);
    transition: transform 300ms ease-in;
    width: 250px;

    &.selected {
      transform: scale(2) perspective(22rem) rotateY(0) translateZ(0);
      transform-origin: center;
      z-index: 10;
    }

    &.previous {
      transform: scale(1.15) perspective(22rem) rotateY(-58deg) translateZ(78px);
      transform-origin: center;
    }

    &.next {
      transform: scale(1.15) perspective(22rem) rotateY(58deg) translateZ(78px);
      transform-origin: center;
    }

    a {
      display: inline-block;
      height: 100%;
      opacity: 0;
      width: 100%;
    }
  }
}
